<html>
<head>
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width">  
  <title>About Iron Insight</title>
</head>
<body>

  <div class="page-body">

	<div class="app-nav">
	  <div class="app-nav-content">
		<a id="map-back-button" class="back-button" href="/">Back</a>
		<h1 class="location-name">About</h1>
	  </div>
	</div>

	<div style="margin-top: 60px;">
		<p><i>Ironbridge Insight: a curator in your pocket</i> is a prototype mobile web app designed to enhance your visit to Coalbrookdale.</p>

		<p>Use your smart phone or tablet to discover new stories, find out more about the objects and structures around the green, and even record your own experiences.</p>

		<p>This app was developed over three days as part of Museomix UK - an international curatorial and tech-based museum mash-up hosted by Ironbridge Gorge Museums. It was brought to you by Frankie, Anna, Jessica, Matt and Tamsin.</p>

		<p>If you have any feedback about the app, please e-mail us at <a href="mailto:mmuk.team2@gmail.com">mmuk.team2@gmail.com</a>.</p>

		<a href="http://www.museomix.org/en/"><img src="/images/museomix-logo.png?1" alt="Museomix" class="logo"></a>

		<p>Historic Photography is (c) The Ironbridge Gorge Museum Trust.</p>

	</div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45599512-1', 'ironbridge.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
