<html>
<head>
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width">  
  <title>Iron Insight</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
  <script>

  function displayPosition(position) {
    document.location = '/list';
  }

  function displayError() {

  }

  function checkForGeoLocation() {

    if (navigator.geolocation) {

    $('#get_started').text('Loading...');

    navigator.geolocation.getCurrentPosition(
      displayPosition, 
      displayError,
      { enableHighAccuracy: true, timeout: 10000, maximumAge: 0 }
    );
  
    } else {

    }

  }

  $(document).ready(function() {

    $('#get_started').click(function(event) {

      checkForGeoLocation();

      return false;
      event.preventDefault();
    }); 

  });



  </script>
</head>
<body>

  <div class="page-body">

    <div class="app-header">
      <h1 class="app-title">Iron Insight</h1>
      <p class="app-subtitle">The Ironbridge Gorge explorer companion</p>
    </div>

    <img src="/images/logo.png" class="logo">

    <div class="get-started"><a id="get_started" class="main-button">Get Started</a></div>

  </div>

</div>
</body>
