<html>
<head>
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width">  
  <title>Explore Ironbridge</title>
</head>
<body>

  <h1>Welcome to Ironbridge</h1>

  <p>(More soon)</p>

  <p>Team 2 - #Museomixuk</p>
</div>
</body>
