<html>
<head>
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width">  
  <title>Iron Insight</title>
</head>
<body>

  <div class="page-body">

    <div class="app-header">
      <h1 class="app-title">Iron Insight</h1>
      <p class="app-subtitle">The Ironbridge Gorge explorer companion</p>
    </div>

    <div class="get-started"><a href="/list" class="main-button">Get Started</a></div>

  </div>

</div>
</body>
