<html>
<head>
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width">  
  <title>Iron Insight</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
  <script>

  var locations = <%= LOCATIONS.to_json %>;

  var current_location = null;

	function toRad() {
    return this * Math.PI / 180;
  }


	function getDistance(lat1,lon1,lat2,lon2) {
	    var R = 6371; // km
	    var dLat = (lat2-lat1).toRad();
	    var dLon = (lon2-lon1).toRad(); 
	    var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
	            Math.cos(lat1.toRad()) * Math.cos(lat2.toRad()) * 
	            Math.sin(dLon/2) * Math.sin(dLon/2); 
	    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
	    return Math.round((R * c) * 1000);
	}


  function displayPosition(position) {

  	current_location = position.coords;

    distance_from_coalbrookdale = getDistance(current_location.latitude, current_location.longitude, 52.638239,-2.492922);

    if (distance_from_coalbrookdale < 5000) {
      text = 'Welcome to Coalbrookdale';
    } else {
      text = 'You are over 5km from Coalbrookdale. Why not visit?'
    }

    $('#your-location').text(text);
    update_location_distances();
  }

  function displayError(error) {
  	console.log('Error locating');
  	console.log(error);

  }

  function checkForGeoLocation() {

    if (navigator.geolocation) {

		$('#your-location').text('Finding you...');
    navigator.geolocation.watchPosition(
      displayPosition, 
      displayError,
      { enableHighAccuracy: true, timeout: 10000, maximumAge: 0 }
    );
  
    } else {

    }

  }

  function update_location_distances() {

  	var location_at = null;;
  	var nearest_distance = null;

		for (var i=0; i<locations.length;i++)  {

			if(current_location) {

				var distance_to_location = getDistance(current_location.latitude,current_location.longitude,parseFloat(locations[i].latitude),parseFloat(locations[i].longitude));

				if (distance_to_location < 50) {

					if(nearest_distance && (distance_to_location < nearest_distance)) {
						nearest_distance = distance_to_location;
						location_at = locations[i].id;
					} else {
						nearest_distance = distance_to_location;
						location_at = locations[i].id;
					}						
				}

			$('#location-distance-' + locations[i].id).text(distance_to_location + 'm away');

		}

		if (location_at) {

			for (var i=0; i<locations.length;i++)  {

				if(locations[i].id == location_at) {

          var location_id = locations[i].id;

					$('#location-at').html('<p>You are at <b>' + locations[i].name + '</b></p><p>Find out more</p>').removeClass('hidden');
          $('#location-at').click(function() {
            showLocation(location_id);
          })
				}

			}
			
		} else {
			$('#location-at').addClass('hidden').text();						
		}

	}

  }

  function display_locations() {

  	var table_rows = '';

    var location_id = 1;

		for (var i=0; i<locations.length;i++)  {

			var table_row = '<img src="/images/thumbnails/' + locations[i].id + '.jpg" class="location-thumbnail"><div class="location-info"><div class="location-name">' + locations[i].name + '</div><div class="location-distance" id="location-distance-' + locations[i].id + '">';

				if(current_location) {
					table_rows = table_rows + getDistance(current_location.latitude,current_location.longitude,parseFloat(locations[i].latitude),parseFloat(locations[i].longitude)) + 'm away';
				}

			 	table_row = table_row + '</div></div>';

			 	var location_row = document.createElement('a');
			 	location_row.setAttribute('class', 'location');
        location_row.setAttribute('id', locations[i].id);

			 	location_row.innerHTML = table_row;

        location_id = locations[i].id;

        $(location_row).click(function(event) {

          var target = event.target

          console.log(target.nodeName);
          if (target.nodeName != 'A') {
            target = target.parentNode;
          }
          if (target.nodeName != 'A') {
            target = target.parentNode;
          }

          showLocation(parseInt(target.getAttribute('id')));
        })


				document.getElementById('locations').appendChild(location_row);

		}


	}

  function showMap() {
    $('#map-panel').removeClass('hidden');
    $('#list-panel').addClass('hidden'); 
    ga('send', 'event', 'map', 'open');    

    var map = L.map('map', {touchZoom: false, zoomControl: false}).setView([52.638239,-2.492922], 18);

    // add an OpenStreetMap tile layer
    L.tileLayer('http://{s}.www.toolserver.org/tiles/bw-mapnik/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 18
    }).addTo(map);


    for (var i=0; i<locations.length;i++)  {

      L.marker([locations[i].latitude, locations[i].longitude]).addTo(map)
      .bindPopup(locations[i].name)
      .openPopup();


    }

  }

  function hideMap() {
    $('#map-panel').addClass('hidden');
    $('#list-panel').removeClass('hidden');     
    ga('send', 'event', 'map', 'close');    
  }

  function showLocation(id) {

  	var location = null;

		for (var i=0; i<locations.length;i++)  {

			if(parseInt(locations[i].id) == id) {
				location = locations[i];
			}
		}

		if (location) {

		  $('#location-panel-name').text(location.name);
    	$('#location-panel-info').html(location.content + '<h2 class="questions">Do you have any questions about this location?</h2><p style="text-align: center;"><a href="mailto:mmuk.team2@gmail.com?subject=' + location.name + '">Ask our curators</a></p>');
    	$('#location-panel').removeClass('hidden');	
      $('#list-panel').addClass('hidden'); 

		}

    ga('send', 'event', 'location', 'open', location.name);
  }	

  $(document).ready(function() {
		checkForGeoLocation();
		display_locations();

    $('#view-map').click(function() {
      showMap();
    });

    $('#map-back-button').click(function() {
      hideMap();
    });

		document.getElementById('back-button').addEventListener('click', function() {
			$('#location-panel').addClass('hidden');
      $('#list-panel').removeClass('hidden');       
		});


    // add a marker in the given location, attach some popup content to it and open the popup
//    L.marker([51.5, -0.09]).addTo(map)
 //       .bindPopup('A pretty CSS3 popup. <br> Easily customizable.')
  //      .openPopup();    

  });


	/** Converts numeric degrees to radians */
	if (typeof Number.prototype.toRad == 'undefined') {
	  Number.prototype.toRad = function() {
	    return this * Math.PI / 180;
	  }
	}

  </script>
  <link rel="stylesheet" href="/stylesheets/leaflet.css" />  
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="/stylesheets/leaflet.ie.css" />
  <![endif]-->  
  <script src="/javascripts/leaflet.js"></script>
</head>
<body>

  <div class="page-body">

    <div id="map-panel" class="hidden">
      <div class="map-panel-content">
        
        <div class="app-nav">
          <div class="app-nav-content">
            <a id="map-back-button" class="back-button">Back</a>
            <h1 class="location-name">Map</h1>
          </div>
        </div>

        <div id="map-panel-info">
          <p>Explore this map</p>

          <div style="position: relative;">
            <div id="map"></div>
          </div>

        </div>

      </div>
    </div>

  	<div id="location-panel" class="hidden">
	    <div class="location-panel-content">
			  
			  <div class="app-nav">
			    <div class="app-nav-content">
			      <a id="back-button" class="back-button">Back</a>
			      <h1 class="location-name" id="location-panel-name"></h1>
			    </div>
			  </div>

	  		<div id="location-panel-info"></div>

	  	</div>
  	</div>

  	<div id="list-panel">
	    <div class="app-mini-header">
	      <h1 class="app-title">Iron Insight</h1>
	    </div>

	    <p id="your-location"></p>

	    <div id="location-at" class="hidden"></div>

	    <p>These things of interest are nearby:  or <a id="view-map">view map</a></p>

	    <div class="locations" id="locations"></div>
	  </div>
  </div>

</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45599512-1', 'ironbridge.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
